$spacing-xxxxxxl: 7.500rem;
$spacing-xxxxxl: 6.000rem;
$spacing-xxxxl: 5.000rem;
$spacing-xxxl: 4.000rem;
$spacing-xxl: 3.000rem;
$spacing-xl: 2.000rem;
$spacing-l: 1.500rem;
$spacing-m: 1.000rem;
$spacing-s: 0.750rem;
$spacing-xs: 0.500rem;
$spacing-xxs: 0.250rem;
$spacing-xxxs: 0.125rem;
