@import '../styles/tr-design-tokens/scss/color';
@import '../styles/tr-design-tokens/scss/text';

@import '../styles/global-vars';

@mixin disabled-style {
  &[disabled],
  &:disabled {
    background-color: $color-grey-0;
    color: $color-grey-20;
    box-shadow: none;
  }
}

.scout-btn {
  border-radius: 32px;
  font-size: $text-heading-5-SIZE;
  padding: 15px 16px;
  height: 3rem;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  box-shadow: $elevation-1;
  outline: 0;

  &__primary {
    color: $color-white-100;
    background-color: $color-teal-60;

    &:hover {
      background-color: $color-teal-50;
    }

    &:focus {
      background-color: $color-teal-50;
      box-shadow: inset 0 0 0 3px $color-blue-40;
    }

    &:active {
      background-color: $color-teal-70;
      box-shadow: none;
    }

    @include disabled-style;
  }

  &__secondary {
    color: $color-teal-60;
    background-color: $color-teal-0;

    &:hover {
      background-color: $color-teal-10;
    }

    &:focus {
      background-color: $color-teal-10;
      box-shadow: 0 0 3px $color-teal-40;
    }

    &:active {
      background-color: $color-teal-70;
      color: $color-white-100;
      box-shadow: none;
    }

    @include disabled-style;
  }

  &__tertiary {
    color: $color-teal-60;
    background-color: $color-white-100;
    box-shadow: none;

    &:hover {
      background-color: $color-teal-0;
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $color-blue-40;
      background-color: $color-teal-0;
    }

    &:active {
      box-shadow: none;
      color: $color-white-100;
      background-color: $color-teal-70;
    }

    @include disabled-style;
  }
}
