@import '../styles/tr-design-tokens/scss/spacing';
@import '../styles/global-vars';

.wrapper {
  text-align: center;
  width: 680px;
  margin: 12px auto;

  box-shadow: $elevation-1;
  border-radius: 9px;
  padding: 12px 16px $spacing-m;
}