@import '../styles/tr-design-tokens/scss/color';
@import '../styles/tr-design-tokens/scss/text';
@import '../styles/tr-design-tokens/scss/spacing';

.scout-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-l;

  &__list-item {
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-10;
    }
  }

  &__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: $text-heading-5-SIZE;
    font-weight: $text-heading-5-WEIGHT;
  }

  &__action-icon {
    margin-right: 8px;
    path {
      outline: currentColor;
    }
  }
}


.scout-label {
  border-radius: 5px;
  font-size: $text-heading-6-SIZE;
  color: $color-grey-90;
  background-color: $color-grey-0;
  padding: 8px 12px;
  margin-right: 8px;
  text-decoration: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  & + & {
    margin-bottom: 8px;
  }

  &:hover {
    background-color: $color-teal-0;
  }

  &:focus {
    box-shadow: inset 0 0 0 3px $color-blue-40;
  }

  &:active {
    background-color: $color-teal-10;
    box-shadow: none;
  }

  &__active {
    background-color: $color-blue-20;
  }
}
