@import './reset';
@import './nprogress';
@import './forms';
@import './typography';

html,
body {
  font-size: 18px;
  font-family: 'system-ui';
  padding: 16px;
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
}