@import './tr-design-tokens/scss/text';
@import './tr-design-tokens/scss/spacing';
@import './tr-design-tokens/scss/color';


h1 {
  font-size: $text-heading-1-SIZE;
  font-weight: $text-heading-1-WEIGHT;
}

h2 {
  font-size: $text-heading-2-SIZE;
  font-weight: $text-heading-2-WEIGHT;
}

p {
  font-size: $text-body-regular-SIZE;
  font-weight: $text-body-regular-WEIGHT;
}

code,
.code,
pre {
  font-family: monospace;
  text-align: left;
  overflow-x: hidden;
  white-space: pre-wrap;
  background: $color-grey-0;
  color: $color-grey-80;
  font-size: 16px;
  padding: 0;
  padding: 10px;
  margin: 24px 0;
  max-height: 480px;
}